
@using Web.Helpers
@model Web.Models.Access.Module

@Html.Partial("_BreadCumb", "Editing Modules"); 

@using (Html.BeginForm("Edit", "Modules", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-materials" }))
{
    @Html.AntiForgeryToken()
	<article class="container container-principal">
		<div class="row">
			<div class="container-table">
				<div class="pull-left">
					<h3>Register of Modules</h3>
				</div>
				<div class="clearfix"></div>
				<div class="table">
					<div class="form-horizontal">
						@Html.CustomValidationSummary()
						@Html.HiddenFor(model => model.ModuleId)
						<div class="form-group">
							<div class="group">
								@Html.TextBoxFor(model => model.Code, new { type = "text", required = "required" })
								<span class="highlight"></span>
								<span class="bar"></span>
								<label class="label-animated">
									@Html.LabelFor(model => model.Code)
										
								</label>
								@Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="group">
								@Html.TextBoxFor(model => model.Name, new { type = "text", required = "required" })
								<span class="highlight"></span>
								<span class="bar"></span>
								<label class="label-animated">
									@Html.LabelFor(model => model.Name)
										
								</label>
								@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="group">
								@Html.TextBoxFor(model => model.Icon, new { type = "text", required = "required" })
								<span class="highlight"></span>
								<span class="bar"></span>
								<label class="label-animated">
									@Html.LabelFor(model => model.Icon)
										
								</label>
								@Html.ValidationMessageFor(model => model.Icon, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="group">
								@Html.TextBoxFor(model => model.Order, new { type = "text", required = "required" })
								<span class="highlight"></span>
								<span class="bar"></span>
								<label class="label-animated">
									@Html.LabelFor(model => model.Order)
										
								</label>
								@Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group">
							<div class="group">
							<div class="checkbox">
								@Html.TextBoxFor(model => model.Active, new { type = "text", required = "required" })
								<span class="highlight"></span>
								<span class="bar"></span>
								<label class="label-animated">
									@Html.LabelFor(model => model.Active)
										
								</label>
								@Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</article>
	@Html.Partial("_CreateEditFooter", "Modules")
}



