
@model Web.Models.Access.Company

@Html.Partial("_BreadCumb", "Register of Companies"); 
<article class="container container-principal">
	<div class="row">
		<div class="container-table">
			<div class="pull-left">
				<h3>Please confirm to complete the operation</h3>
			</div>
			<div class="clearfix"></div>
			<table class="table">
				<tr>
					<td>
						@Html.DisplayNameFor(model => model.Name)
					</td>
					<td>
						@Html.DisplayFor(model => model.Name)
					</td>
				</tr>
				<tr>
					<td>
						@Html.DisplayNameFor(model => model.Email)
					</td>
					<td>
						@Html.DisplayFor(model => model.Email)
					</td>
				</tr>
				<tr>
					<td>
						@Html.DisplayNameFor(model => model.Address)
					</td>
					<td>
						@Html.DisplayFor(model => model.Address)
					</td>
				</tr>
				<tr>
					<td>
						@Html.DisplayNameFor(model => model.Phone)
					</td>
					<td>
						@Html.DisplayFor(model => model.Phone)
					</td>
				</tr>
				<tr>
					<td>
						@Html.DisplayNameFor(model => model.Active)
					</td>
					<td>
						@Html.DisplayFor(model => model.Active)
					</td>
				</tr>
			</table>
		</div>
	</div>
	@using (Html.BeginForm()) 
	{
		@Html.AntiForgeryToken()
		<div class="container">
			<div class="form-actions no-color pull-right">        
				@Html.ActionLink( "Cancel", "Index", "Companies", null, new { @class = "btn btn-default" })
				|
				<input type="submit" value="Confirm and Delete" class="btn btn-primary" />
			</div>
		</div>
	}
</article>


